<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OCR and Document Search</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="wrapper">
        <header>
            <div class="header-container">
                <h1>OCR and Document Search</h1>
                <p class="subtitle">Extract text from images in both Hindi and English</p>
            </div>
        </header>
        
        <main>
            <section class="upload-section">
                <div class="custom-container">
                    <h2>Upload and Process Image</h2>
                    <p>Select an image file to extract text using OCR.</p>
                    <form action="#">
                        <input type="file" name="file" accept="image/*" class="file-upload">
                        <button type="submit" class="btn-upload">Upload</button>
                    </form>
                </div>
            </section>
        </main>
        
        <footer>
            <div class="footer-container">
                <p>&copy; 2024 OCR and Keyword Search Application</p>
                <p>This website is made by P. Hari Sai</p>
                <div class="social-links">
                    <a href="https://github.com/harisaigithub" target="_blank">
                        <img src="/OCR_Document_Search_App/static/images/github-logo.png" alt="GitHub" width="40" height="40">
                    </a>
                    <a href="https://www.linkedin.com/in/parasa-hari-sai" target="_blank">
                        <img src="/OCR_Document_Search_App/static/images/linkedin-logo.png" alt="LinkedIn" width="40" height="40">
                    </a>
                    <a href="https://parasa-harisai-portfolio.netlify.app/" target="_blank">
                        <img src="/OCR_Document_Search_App/static/images/website-logo.png" alt="Website" width="40" height="40">
                    </a>
                </div>
            </div>
        </footer>        
    </div>
    <script src="static/custom.js"></script>
</body>
</html>
